# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Environment & Secrets
.env
secrets_backup.txt
default_settings.json

# macOS
.DS_Store

# Build artifacts
build/
dist/

# IDE
.idea/
.vscode/
